@model IEnumerable<sssHMS.Models.Medicine>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Medicine Name
                @*@Html.DisplayNameFor(model => model.Mdcn_name)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.company)
            </th>
            <th>Manufacture Date
                @*@Html.DisplayNameFor(model => model.m_date)*@
            </th>
            <th>Expriy Date
                @*@Html.DisplayNameFor(model => model.e_date)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mdcn_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.m_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.e_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Mdcn_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Mdcn_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Mdcn_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
